/* Sets background color */
body {
    background-color: #568f56;
}

/* Sets attributes for font, width, and margins */
main {
    font-family: monospace;
    width: 80%;
    margin: 0 auto;
}

/* Sets all text attributes */
h1, h2 {
    text-align: center;
    background-color: #90EE90;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
}

/* Sets width of playerMoney and playerBet */
h2 {
    width: 100%;
    font-size: 24px;
}

/* Flexibly displays the playarea as a row */
.playarea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Flexibly displays all items within the playarea as columns */
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#money {
    width: 30%;
}

#betting, #actions {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Resizes the cards areas to take up the most amount of room possible */
#computerCards, #playerCards {
    flex-basis: 90%;
}

/* Sets attributes for buttons */
button {
    width: 50%;
    font-size: 24px;
    background-color: #90EE90;
    border-radius: 16px;
    margin: 5px;
}

button:disabled {
    background-color: silver;
    color: gray;
    opacity: 0.5;
}

button:hover {
    background-color: white;
}

/* Sets content to the center of each area within the playarea */
#computerCards, #playerCards {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

/* Sets attributes of all face-up cards */
.fullcard {
    display: flex;
    position: relative;
    width: 150px;
    height: 210px;
    align-items: center;
}

.cardImg, .cardText {
    position: absolute;
    width: 100%;
}

.cardText {
    font-size: 72px;
    text-align: center;
}

/* Sets the spacing for dealerTotal and playerTotal */
#dealerTotal, #playerTotal {
    width: 20%;
    margin-right: 8%;
}